.btn { 
    padding: 10px;
    }
    table {
background-color: #91bad152;
}		
@media (min-width: 768px){
.busc_dato{
float: right;
margin-right: -5%;
}
}

a {
text-decoration:none;
color:#FFF;
}
.rainbow-button {
width:calc(20vw + 6px);
height:calc(8vw + 6px);
background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
border-radius:5px;
display:flex;
align-items:center;
justify-content:center;
text-transform:uppercase;
font-size:3vw;
font-weight:bold;
}
.rainbow-button:after {
content:attr(alt);
width:20vw;
height:8vw;
background-color:#22ca8c;
display:flex;
align-items:center;
justify-content:center;
}
.rainbow-button:hover {
animation:slidebg 0.2s linear infinite;
}

@keyframes slidebg {
to {
background-position:20vw;
}
}

.page-header{
    display:none;
    }
    
    .button {
        
        --offset: 10px;
        --border-size: 2px;
        
        display: block;
        position: relative;
        padding: 1.5em 3em;
        appearance: none;
        border: 0;
        background: #35495d;
        color: #3fb5ef;
        text-transform: uppercase;
        letter-spacing: .25em;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 0;
        box-shadow: inset 0 0 0 var(--border-size) currentcolor;
        transition: background .8s ease;
        
        &:hover {
            background: rgba(100, 0, 0, .03);
        }
        
        &__horizontal,
        &__vertical {
            position: absolute;
            top: var(--horizontal-offset, 0);
            right: var(--vertical-offset, 0);
            bottom: var(--horizontal-offset, 0);
            left: var(--vertical-offset, 0);
            transition: transform .8s ease;
            will-change: transform;
            
            &::before {
                content: '';
                position: absolute;
                border: inherit;
            }
        }
        
        &__horizontal {
            --vertical-offset: calc(var(--offset) * -1);
            border-top: var(--border-size) solid currentcolor;
            border-bottom: var(--border-size) solid currentcolor;
            
            &::before {
                top: calc(var(--vertical-offset) - var(--border-size));
                bottom: calc(var(--vertical-offset) - var(--border-size));
                left: calc(var(--vertical-offset) * -1);
                right: calc(var(--vertical-offset) * -1);
            }
        }
        
        &:hover &__horizontal {
            transform: scaleX(0);
        }
        
        &__vertical {
            --horizontal-offset: calc(var(--offset) * -1);
            border-left: var(--border-size) solid currentcolor;
            border-right: var(--border-size) solid currentcolor;
            
            &::before {
                top: calc(var(--horizontal-offset) * -1);
                bottom: calc(var(--horizontal-offset) * -1);
                left: calc(var(--horizontal-offset) - var(--border-size));
                right: calc(var(--horizontal-offset) - var(--border-size));
            }
        }
        
        &:hover &__vertical {
            transform: scaleY(0);
        }
        
    }